*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'DM Sans',sans-serif;
}
main,footer{
    padding:3% 7%;
}
/*.one{
    background-image:linear-gradient(to right,rgba(255, 192, 203,0.99),rgba(255, 192, 203,0.1));
}*/
footer,.one{
    background:rgba(247, 230, 233, 0.5);
}
.one{
    background: radial-gradient(circle at 0% -2%, rgba(202, 149, 159,0.5) 4%, rgba(247, 230, 233, 0.5) 34%);

}
.df{
    display: flex;
}
.column{
    flex-direction: column;
}
p{
    color:rgba(0, 0, 0,0.7);
    font-weight: 500;
}
img{
    max-width: 100%;
}
header{
    justify-content: space-between;
    align-items: center;
}
#navbar{
    align-items: center;   
}
ul{
    align-items: center;
    gap:14px;
}
.toptop img{
    display: none;
}
a{
    text-decoration: none;
    color:rgba(0, 0, 0,0.9);
    font-weight: 500;    
}
button{
    background:rgb(96, 96, 231);
    color:white;
    border-style:none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14.8px;
    padding:14px 12px;
    white-space:nowrap;
    cursor:pointer;
}
span{
    opacity: 0.9;
}
h1{
    font-size: 2em;
}
.onemid{
    margin-top: 4%;
    padding-bottom: 4%;
    align-items: center;
}
.onemid h1{
    font-weight: 700;
    font-size: 3em;
    max-width:90%;
    line-height: 2.7rem;
}
.cap{
    min-width: 50%;
}
.onemid p{
    color:rgba(0, 0, 0,0.7);
    margin:2.5% 0;
    font-weight: 500;
}
.onemid figcaption{
    color:rgba(0, 0, 0,0.7);
    font-weight: 500;
    margin-top: 1%;
}
.onemid figcaption span{
    color:rgb(96, 96, 231);
    font-weight: 700;
}
.buttonimg{
    gap:15px;
}
.apps{
    justify-content: space-between;
}
.apps figure{
    max-width:30%;
}
.apps figcaption{
    max-width:50%;
}
.apps p{
    margin:8px 0;
}
.apps figcaption{
    min-width: 50%;
}
.apps h1{
    line-height: 1em;
}
.apps a,.phone a{
    color:rgb(96, 96, 231);
}
.phone{
    align-items: center;
}
.phone figure{
    max-width:47%;
}
.phone img{
    max-width:70%;
}
.phone h2{
    font-weight: 700;
    max-width:70%;
}
.phone p{
    margin:8px 0;
    max-width:90%;
}
footer{
   justify-content: space-between;
}
.indiedown{
    max-width: 30%;
}
.downright{
    gap:7%;
    width:53.5%;
    justify-content: flex-end;
}
footer section h3{
    margin-bottom: 7px;
}
footer a{
    margin-bottom: 4px;
}
@media (MAX-WIDTH:700px){
    #navbar{
        display: none;
    }
    #navbar,ul{
        position:absolute;
        top:10%;
        left:0;
        right:0;
        background:rgba(255, 255, 255,0.9);
        border-radius: 7px;
        gap:0;
        text-align: center;
        flex-direction: column;  
    }
    #navbar a{
        font-size: 1.2em;
        font-weight: 700;
        padding:7px 0;
    }
    #navbar a:active{
        background:rgba(202, 149, 159,0.2);
        width:100%;
    }
    .toptop img{
        display: block;
    }
}
@media  (max-width:999px){
    main,footer{
        padding:5% 3%;
    }
    
    .onemid,.apps{
        flex-direction: column-reverse;
    }
    .onemid h1{
        max-width:100%;
    }
    .phone,footer{
        flex-direction: column;
    }
    .downright{
        display:grid;
        width:100%;
        grid-template-columns: 1fr 1fr;
        padding:7% 0;
        column-gap: 40%;
    }
    .indiedown{
        max-width:100%;
        padding-top: 7%;
    }
    .phone{
        padding: 10% 0;
    }
    .phone figcaption{
        padding-top: 10%;
    }
    .phone h2{
        font-size: 2em;
        max-width:90%;
    }
    .phone figure{
        max-width:100%;
        display: flex;
        justify-content: center;
    }
    .apps figure{
        max-width:100%;
    }
    .apps figcaption{
        max-width: 100%;
        padding-top: 7%;
    }
    .one{
        padding-bottom:15%;
    }
}
@media (max-width:350px){
    .downright{
        column-gap:normal;
    }
}
@media  (min-width:709px) and (max-width:1000px){
    #navbar,ul {
        display:block;
     }
    .toptop figure img{
        display:none;
    }
    button{
        padding:19px 17px;
        font-size:1.1em;
    }
    .onemid img{
        max-width:59%;
    }
    .onemid figure{
        text-align: center;
    }
    .buttonimg figure{
        text-align: initial;
    }
    p,a,figcaption{
        font-size:1.2em;
    }
    .apps{
        flex-direction: row;
        align-items:center;
    }
    .apps figcaption{
        max-width:70%;
    }
    .apps figure{
        width:30%;
    }
    .apps img{
        min-height: 140px;
    }
    .phone{
        flex-direction: row;
    }
    .phone figure{
        max-width:47%;
        min-height: 300px;
    }
    .phone figcaption{
        max-width:62%;
        padding:0;
    }
    .phone h2{
        max-width:100%;
    }
    .phone p{
        max-width:100%;
    }
    footer{
        flex-direction: row;
    }
    footer h3{
        font-weight:700;
        font-size:1.5em;
    }
    .indiedown p{
        max-width: 85%;
    }
    .downright{
        column-gap:20%;
    }
    
}
/*Sign Up Page */

.signpage{
    padding:2% 10%;
    background: rgba(202, 149, 159,0.2);
}
.signheader{
    align-items: center;
}
.top-right img{
    max-width:80%;
}
.top-right a:first-child{
    border:1px grey solid;
    border-radius: 3px;
    padding:4px 4px 0 5px;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.7);
}
.top-right a{
    font-size:0.8em;
    color:black;
    font-weight: 700;
}
.top-right{
    align-items: center;
}
.midsign{
    padding:0;
    justify-content: space-between;
    margin-top: 2%;
}
.midsignleft{
    max-width:43%;
    padding-top:4.4%;
    gap:17px;
}
.midsign img{
    width:30px;
    height: 30px;
    margin-right:10px ;
}
.midsign span{
    color:black;
    font-weight: 700;
}
.midsign p{
    max-width: 89%;
    font-weight: 500;
}
label{
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 5px;
}
.check{
    align-items: start;
    gap:5px;
}
.check label{
    color:rgba(0, 0, 0,0.9);
    max-width: 90%;
}
.check span{
    color:rgb(96, 96, 231);
    text-decoration: underline;
}
form{
    gap:17px;
    padding:2% 3%;
    max-width: 40%;
    background: white;
    border-radius: 7px;
}
input{
    padding:14px 17px;
    border:1.7px rgba(128, 128, 128,0.4) solid;
    border-radius: 4px;
}
::placeholder{
   color:rgba(128, 128, 128,0.4);
   font-size: 1.1em;
}
@media (max-width:999px){
    .signpage{
        padding:7% 5%;
    }
    .home{
        display: none;
    }
    .midsign{
        flex-direction: column;
    }
    .midsignleft,form{
        max-width:100%;
        gap:27px;
        margin-top: 30px;
    }
    form{
        padding:5% 10.5%;
    }
    .check label{
        max-width: 80%;
    }

}
@media  (min-width:709px) and (max-width:1000px){
    .home{
        display: block;
    }
}