*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'DM Sans',sans-serif;
}
main,footer{
    padding:3% 7%;
    border-style: solid;
}
/*.one{
    background-image:linear-gradient(to right,rgba(255, 192, 203,0.99),rgba(255, 192, 203,0.1));
}*/
footer,.one{
    background:rgba(247, 230, 233, 0.1);
}
.df{
    display: flex;
}
.column{
    flex-direction: column;
}
p{
    color:rgba(0, 0, 0,0.7);
    font-weight: 500;
}
img{
    max-width: 100%;
}
header{
    justify-content: space-between;
    align-items: center;
    border-style: solid;
}
.topright{
    align-items: center;
}
.topright img{
    display: none;
}
nav{
    border-style: solid;
}
a{
    text-decoration: none;
    color:rgba(0, 0, 0,0.9);
    font-weight: 500;    
}
.topright a{
    margin-left:14px;
}
button{
    background:rgb(96, 96, 231);
    color:white;
    border-style:none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14.8px;
    padding:14px 12px;
    white-space:nowrap;
    cursor:pointer;
}
span{
    opacity: 0.9;
}
h1{
    font-size: 2em;
}
.onemid{
    border-style: solid;
    margin-top: 4%;
    padding-bottom: 4%;
}
.onemid h1{
    font-weight: 700;
    font-size: 3em;
    width:87%;
    border-style: solid;
    line-height: 2.7rem;
    margin-top: 13%;
}
.cap{
    border-style: solid;
    min-width: 50%;
}
.onemid p{
    color:rgba(0, 0, 0,0.7);
    margin:2.5% 0;
    font-weight: 500;
}
.onemid figcaption{
    color:rgba(0, 0, 0,0.7);
    font-weight: 500;
    margin-top: 1%;
}
.onemid figcaption span{
    color:rgb(96, 96, 231);
    font-weight: 700;
}
.buttonimg{
    border-style: solid;
    gap:15px;
}
.apps{
    justify-content: space-between;
    border-style: solid;
}
.apps figure{
    border-style: solid;
    max-width:30%;
}
.apps figcaption{
    border-style: solid;
    max-width:50%;
}
.apps p{
    margin:8px 0;
}
.apps figcaption{
    min-width: 50%;
}
.apps h1{
    line-height: 1em;
}
.apps a,.phone a{
    color:rgb(96, 96, 231);
}
.phone{
    border-style: solid;
    align-items: center;
}
.phone figure{
    border-style: solid;
    max-width:47%;
}
.phone img{
    max-width:70%;
}
.phone figcaption{
    border-style: solid;
}
.phone h2{
    font-weight: 700;
    max-width:70%;
}
.phone p{
    margin:8px 0;
    max-width:90%;
}
footer{
   justify-content: space-between;
}
.indiedown{
    border-style: solid;
    max-width: 27%;
}
.downright{
    gap:7%;
    border-style: solid;
    width:53.5%;
}
footer section h3{
    margin-bottom: 7px;
}
footer a{
    margin-bottom: 4px;
}
@media  (max-width:599px){
    main,footer{
        padding:3%;
        border-style: solid;
    }
    .topright a{
        display:none;
    }
    .topright img{
        display: block;
    }
    .onemid,.apps{
        flex-direction: column-reverse;
    }
    .phone,footer{
        flex-direction: column;
    }
    .downright{
        display: grid;
        width:100%;
        grid-template-columns: 1fr 1fr;
        border:4px red solid;
        column-gap: 50%;
        padding:7% 0;
    }
    .indiedown{
        max-width:100%;
        border:2px grey solid;
        padding-top: 7%;
    }
    .phone h2{
        font-size: 2em;
        max-width:90%;
        border-style: solid;
    }
    .phone figure{
        max-width:100%;
        display: flex;
        justify-content: center;
    }
}